<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <add key="NuGet" value="http://www.nuget.org/api/v2/" />
        <add key="StanixGames private repo" value="http://138.201.90.149:8081/repository/nuget-hosted/" />
    </packageSources>
    <activePackageSource>
        <add key="All" value="(Aggregate source)" />
    </activePackageSource>
    <config>
        <add key="repositoryPath" value="./Packages" />
        <add key="DefaultPushSource" value="http://138.201.90.149:8081/repository/nuget-hosted/" />
    </config>
</configuration>